<ul>
	<li>Professional
		<ul>
			<li>http://jcastle0.github.io/ldtportfolio/career/</li>
			<li>http://jcastle0.github.io/ldtportfolio/cv/</li>
			<li>http://jcastle0.github.io/ldtportfolio/pd/</li>
		</ul>
	</li>
	<li>Academic
		<ul>
			<li>http://jcastle0.github.io/ldtportfolio/program/</li>
			<li>http://jcastle0.github.io/ldtportfolio/program-assessment/</li>
			<li>http://jcastle0.github.io/ldtportfolio/research/</li>
			<li>http://jcastle0.github.io/ldtportfolio/self-assessment/</li>
		</ul>
	</li>
</ul>

{% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
{% endfor %}
