<ul class="dropdown">
	<li>Professional
		<ul>
			<li><a href="http://jcastle0.github.io/ldtportfolio/career/">Career Goals</a></li>
			<li><a href="http://jcastle0.github.io/ldtportfolio/cv/">Curriculum Vitae</a></li>
			<li><a href="http://jcastle0.github.io/ldtportfolio/pd/">Professional Development</a></li>
		</ul>
	</li>
	<li>Academic
		<ul>
			<li><a href="http://jcastle0.github.io/ldtportfolio/program/">Program of Study</a></li>
			<li><a href="http://jcastle0.github.io/ldtportfolio/research/">Research</a></li>
			<li><a href="http://jcastle0.github.io/ldtportfolio/program-assessment/">Program Assessment</a></li>
			<li><a href="http://jcastle0.github.io/ldtportfolio/self-assessment/">Self Assessment</a></li>
		</ul>
	</li>
</ul>

{% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
{% endfor %}
